.big-button {
    border-bottom-width:.6rem;
    font-size:$l-size;
    width:100%;
    margin-bottom:$l-size;
    padding:2.4rem;

    @media (min-width:$desktop-breakpoint) {
        margin-bottom:$xl-size;
    }

    &:disabled {
        opacity:.7;
    }
}

.button {
    background-color: $color-fourtiary;
    border:none;
    color:#FFFFFF;
    font-weight:700;
    border-bottom:.3rem solid darken($color-fourtiary, 10);
    padding:$s-size;

    &--link {
        background:transparent;
        border:none;
        color:$color-secondary;
        padding:0;
    }
}