.header {
    background:$color-primary;
    color:hsl(0, 0%, 100%);
    margin-bottom:$m-size;
    padding: $m-size 0;

    @media (min-width:$desktop-breakpoint) {
        margin-bottom:$l-size;
    }

    &__title {
        font-size:$l-size;
        margin:0;
    }

    &__subtitle {
        color:$color-secondary;
        font-size:$m-size;
        font-weight:500;
        margin:0;
    }
}