.ReactModalPortal {
    > div {
        opacity:0;
    }

    .ReactModal__Overlay {
        align-items:center;
        display:flex;
        justify-content:center;
        transition: opacity .3s ease-in-out;

        
        &--after-open {
            opacity:1;
        }

        &--before-close {
            opacity:0;
        }
    }
    
    .modal {
        background-color:$color-tertiary;
        color:#FFFFFF;
        max-width:30rem;
        outline:none;
        padding:$l-size;
        text-align:center;

        &__title {
            margin:0 0 $m-size 0;
        }

        &__option {
            font-size:2rem;
            font-weight:300;
            margin:0 0 $l-size 0;
            word-break: break-all;
        }
    }
}