.option {
    border-bottom:1px solid lighten($color-fiftiary, 10%);
    display:flex;
    justify-content:space-between;
    padding: $l-size $m-size;

    &__text {
        color:#FFFFFF;
        font-size:2rem;
        font-weight:500;
        margin:0;
        word-break: break-all;
    }
}