@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-size:62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size:$m-size;
    background-color:$color-tertiary;
}

h1 {
    font-size:2.2rem;
}

button {
    cursor:pointer;

    &:disabled {
        cursor:default;
    }
}