//Cores
$color-primary: hsl(229, 14%, 15%);
$color-secondary: hsl(228, 38%, 75%);
$color-tertiary: hsl(227, 15%, 24%);
$color-fourtiary:hsl(264, 49%, 56%);

//Espaçamentos
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;